<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.ddiehl.android.htn" >

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

  <application
    android:name="com.ddiehl.android.htn.HoldTheNarwhal"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/AppTheme"
    android:supportsRtl="true">

    <activity
      android:name=".view.fragments._MainActivity"
      android:label="@string/app_name"
      android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="http" />
        <data android:scheme="https" />
        <data android:host="reddit.com" />
        <data android:host="*.reddit.com" />
        <data android:pathPattern="" />
        <data android:pathPattern="/" />
        <data android:pathPattern="/hot" />
        <data android:pathPattern="/new" />
        <data android:pathPattern="/rising" />
        <data android:pathPattern="/controversial" />
        <data android:pathPattern="/top" />
        <data android:pathPattern="/r/.*" />
        <data android:pathPattern="/u/.*" />
        <data android:pathPattern="/user/.*" />
      </intent-filter>
    </activity>

  </application>

</manifest>
